* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
   font-family: 'Poppins', sans-serif;
}

@font-face {
   font-family: Segoe;
   src: url(../font/Segoe\ UI.ttf);
}

html,
body {
   height: 100%;
   width: 100%;

   overflow-x: hidden;
   
   font-size: 1.6rem;
}

.root {
   height: 100%;
   width: 100%;
   position: relative;
   background-color: #1d1d26;
   background-image: url(../imgs/pexels-kai-pilger-1341279.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

body {

   background-color: #0078D7;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-top: 10rem;
   padding-inline: 20%;
}

.container{
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

h2{
   font-weight: normal;
   font-size:10rem;
}

p, .voltar{
   font-size:2.6rem;
}

.error404{
   font-size: 4.5rem;
}

.voltar{
   background-color: transparent;
   border: none;
   color: hsl(39, 100%, 59%);
}

.voltar:hover{

color: hsl(39, 100%, 34%);
cursor: pointer;
}
